## Hypothesis Test Results

| Scenario | Null Hypothesis | Alternate Hypothesis | Final Result                                           | Interpretation                               |
|----------|------------------|------------------------|--------------------------------------------------------|-----------------------------------------------|
| Scenario 1: Historical Legal Issues and Current address same as Vehicle registration address | There is no association between historical legal issues and current address matching vehicle registration address. | There is a significant association between historical legal issues and current address matching vehicle registration address. | **Chi-square Test Result:**  p-value: 0.02388 | **Conclusion:** Reject the null hypothesis; there is evidence of a significant association. |
| Scenario 2: Current Address Same as Vehicle Registration Address | There is no association between reported income, population density, historical legal issues, infractions, premium amount, credit score, and the likelihood of the current address being the same as the vehicle registration address. | There is a significant association between at least one predictor variable (reported income, population density, historical legal issues, infractions, premium amount, credit score) and the likelihood of the current address being the same as the vehicle registration address. | **Logistic Regression Result:** Attached Below | **Conclusion:** Reject the null hypothesis; there is evidence of a significant association between the predictor variables and the likelihood of the current address being the same as the vehicle registration address. |

| Scenario 2 Result |
|--------------------------------------------------------------------------------------------------------------|
|![alt text](https://github.com/clkride/Address_Risk_Detection_Models/blob/main/plots/test_result.png?raw=true)|
